<a href="https://colab.research.google.com/github/hxk271/2023SSW/blob/main/W02A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 출력과 입력 그리고 변수

> 1. print( ) 함수로 출력하기
<br>
2. 변수
<br>
3. input( ) 함수로 문자열 값 입력받기

In [ ]:
print(34759**24341)

In [ ]:
print('hello world')

In [ ]:
name = '파이썬'
print(name)

In [ ]:
a = 1024 # 변수의 이름은 여러분이 지정하면 됩니다.
print(a)

In [ ]:
# name 변수의 값을 ‘파이썬’ 대신 다른 값으로 바꿔보세요!
name = '파이썬'
print(name+'님! 안녕하세요!')

In [ ]:
name = '김현우' # 주석은 코드 오른쪽에 쓸 수도 있습니다.
print(2020, name, '화이팅!!')

In [ ]:
name = input()
print(name+'님! 안녕하세요!')

In [ ]:
name = input('이름을 입력해주세요 : ')
print(name+'님! 안녕하세요!')

In [ ]:
age = input('나이를 입력해주세요! : ')
print(age-4)

In [ ]:
age = input('나이를 입력해주세요! : ')
print(int(age) - 4)

In [ ]:
name = input('이름을 입력해주세요 : ')
age = int(input('나이를 입력해주세요 : '))
print('안녕하세요!', name+'님! 저는 처음에 '+str(age - 4)+'살인 줄 알았어요!!')

# 연산자 사용하기

> 1. 산술 연산자(arithmetic operator)
<br>
2. 비교 연산자(comparison operator)
<br>
3. 논리 연산자(logical operator)

In [ ]:
# 다양한 값을 넣어보며 연습해보세요.
print(3 * 10) # * : 곱셈 연산자
print(3 ** 10) # ** : 거듭 제곱 연산자
print(3 % 10) # % : 나머지 연산자
print(3 / 2) # / : 실수 나눗셈
print(3 // 2) # // : 정수 나눗셈

In [ ]:
# 다양한 값을 넣어보며 연습해보세요.
print(10 >= 3)
print(10 <= 3)
print(10 == 3) # = = : 같다
print(10 != 3) # != : 같지 않다
print(3 % 2 == 1)

In [ ]:
# 다양한 값을 넣어보며 연습해보세요.
print(1 == 1 and 2 != 1) # True and True
print(10 % 2 != 0 and 1 + 1 > 0) # False and True

In [ ]:
# 다양한 값을 넣어보며 연습해보세요.
print(10 < 5 or 10 == 5) # False or False
print(10 % 2 != 0 or 1 + 1 > 0) # False or True

In [ ]:
# 다양한 값을 넣어보며 연습해보세요.
print(not 10 > 5) # not True
print(not 10 == 5) # not False
print(not 0) # 0은 False에 해당
print(not 10) # 0을 제외한 숫자도 True에 해당

# 함수 불러오기

> print, input, int, str 등 지금까지 사용했던 함수들은 파이썬에서 항상 사용할 수 있도록 제공하는 *내장함수(built-in functions)*이다<br> <br>
그런데 내장 함수 중에는 제곱근(sqare root)을 구할 수 있는 함수도 없고, 랜덤한 숫자를 만들어낼 수 있는 랜덤 함수도 없다. 그렇지만 이런 함수들은 별도로 불러서 사용할 수 있다. 내장 함수 외의 함수들을 불러올 때는 다음과 같이 import라는 명령을 사용한다.
<br> <br>
잘 모를 때는 챗GPT나 구글에 물어보자.

In [ ]:
# random 숫자의 범위를 바꿔보세요.
import random
dice = random.randint(1,6)
print(dice)

In [ ]:
import math
print(math.sqrt(2))

# 반복과 선택

> 1. for 반복문
<br>
2. if 조건문

In [ ]:
# name 변수의 값을 바꿔보세요.
name = '파이썬'
for i in name:
    print(i)

In [ ]:
names = ['쵸파','루피','상디','조로']
for name in names:
    print(name)

In [ ]:
# 다음 결과를 확인한 후, i ** 2 대신 다른 식을 넣어 동작을 확인하세요!
for i in [0,1,2,3]:
    print(i ** 2)

In [ ]:
#range(100) : 0 이상 100 미만(0, 1, 2, ..., 98, 99)의 범위를 갖는 정수
for i in range(100):
    print(i ** 2)

In [ ]:
# 0부터 99까지의 정수 100개 생성. 즉, 100번 반복
for i in range(100):
    print('나는 파이썬 왕이 될 사람이다!!')

In [ ]:
if 10 > 0:
    print('안녕하세요?')

In [ ]:
if 10 != 0 and 5 % 2 == 1:
    print('안녕하세요?')

In [ ]:
passwd = int(input('비밀번호 4자리를 입력하세요 : '))
if passwd == 1531:
    print('비밀번호가 일치합니다.')

In [ ]:
for i in range(10000) :
    if i == 1531: # 1단계 들여쓰기
        print('비밀번호가 일치합니다.') # 2단계 들여쓰기

In [ ]:
passwd = int(input('비밀번호 4자리를 입력하세요 : '))
if passwd == 1531:
    print('비밀번호가 일치합니다.')
else:
    print('비밀번호가 일치하지 않습니다')

In [ ]:
print('[ 소름끼치도록 놀라운 심리테스트 ]')
menu = input('당신이 좋아하는 음식을 입력해주세요 : ')

if menu == '짜장면':
    print('당신은 짜장면을 좋아하는 사람입니다.')

elif menu == '아이스크림':
    print('당신은 아이스크림을 좋아하는 사람입니다.')

elif menu == '사탕':
    print('당신은 사탕을 좋아하는 사람입니다.')

else:
    print('당신은 짜장면과 아이스크림과 사탕을 좋아하지 않는 사람입니다.')

# 순서 있는 저장 공간 리스트

> 1. 리스트에 저장된 위치(index)로 값에 접근하기(indexing)
<br>
2. 리스트에 저장된 위치로 데이터의 일부 자르기(slicing)
<br>
3. 리스트에 값 추가하기

In [ ]:
for i in [0,1,2,3]:
    print(i ** 2)

In [ ]:
names = ['쵸파','루피','상디','조로']
for name in names:
    print(name)

In [ ]:
names = ['쵸파','루피','상디','조로']
print(names[1])

In [ ]:
names = ['쵸파','루피','상디','조로']
print(names[0])
print(names[1])
print(names[2])
print(names[3])

In [ ]:
names = ['쵸파','루피','상디','조로']
print(names[-1]) # 인덱스 –1 : 뒤에서 첫 번째 데이터에 접근

In [ ]:
names = ['쵸파','루피','상디','조로']
print(names[0:2])
print(names[1:3])
print(names[1:])
print(names[:])

In [ ]:
names = ['쵸파','루피','상디','조로']
names.append('나미') # 리스트에 값 추가하기
print(names)

In [ ]:
print(len(names)) # 리스트 길이 출력하기
print(len('data analysis for everyone')) # 문자열 길이 출력하기

In [ ]:
names = ['쵸파', '루피', '상디', '조로']
names.append('해적왕')
for name in names:
    if len(name) > 2:
        print(name,'왔나요~?')